
body {
    background-color: #DEFCF9;
    margin: 0;
  
  }
  
.header {
    background-color: #CADEFC;
    padding: 5px 10px;
    text-align: center;
}


.header h1 {
  color: #222222;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  display: inline-block;
 
}


h2 {
  color: #354259;
  font-family: 'Open Sans', sans-serif;
}

p , .top-list {
  color: #354259;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.name-tag {
  color: darkred;
  font-family:'Lobster', cursive;
  font-size: 30px;
}

.top-container{
    display: inline-block; /*setting display to inline-block will allow us to set height, weight and property*/
    width: 61%;
    margin-top: 20px;
    padding-left: 10px;
}

.h-emoji {
  font-size:60px;
  padding-right: 20px;
}

.img-profile {
  display: inline-block; /* Setting display to inline-block will allow us to set height, weight and property*/
  vertical-align: top; /* When we use the value top, the element will be aligned to the top of the tallest element on the line. */
  padding-left: 40px;
  padding-top: 10px;
  margin-top: 20px;
  width: 36%;

}

.mid-container {
  padding-left: 10px;
}

td, th {
  padding: 20px 60px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;

}
  
hr {
  border: 1px solid black;
}

.contact-me {
  margin-bottom: 100px;
  padding-left: 10px;
}

.bottom-container {
  background-color: #CADEFC;
  text-align: center;
  padding: 10px;
  box-sizing: content-box;
}

input[type=text], select, textarea {
  width: 70%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-family: 'Open Sans', sans-serif;

}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.submit-btn{
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:8px;
	border:2px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  color: black;
}